<h3>Well come {{ user.firstName }}</h3>
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 red main-content">
            <div class="row">
                <div class="col-md-12">
                    Name: {{user.firstName}} {{user.lastName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Email: {{user.id}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Type: {{user.type}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Last Logged In: {{user.lastLoggedIn}}
                </div>
            </div>
          </div>
    </div>
</div>
